@import "tailwindcss";

/* ---START---- IranSans --------- */
@font-face {
  font-family: "IranianSansDemiBold";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-DemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansBlack";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-Black.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansExtraBlack";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-ExtraBlack.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansMedium";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansLight";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansUltraLight";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-UltraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansRegular";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "IranianSansXRegular";
  font-display: swap;
  src: url("../assets/fonts/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IranianSansHeavy";
  font-display: swap;
  src: url("../assets/fonts/IRANSans/IRANSansXFaNum-Heavy.woff2")
    format("woff2");
}

/* ---END---- IranSans --------- */


@theme {
  --font-iranianSansBlack: IranianSansBlack;
  --font-iranianSansExtraBlack: IranianSansExtraBlack;
  --font-iranianSansDemiBold: IranianSansDemiBold;
  --font-iranianSansMedium: IranianSansMedium;
  --font-iranianSansLight: IranianSansLight;
  --font-iranianUltraLight: IranianSansUltraLight;
  --font-iranianSansRegular: IranianSansRegular;
  --font-iranianSansXRegular: IranianSansXRegular;
  --font-iranianSansHeavy: IranianSansHeavy;
}

body {
  @apply font-iranianSansXRegular
}

html {
  scrollbar-gutter: stable;
  background: #0a0a0a;
}