# Cookie values from browser DevTools → Application → Cookies → api.admin-morabiha.ir
MORABIHA_USER_COOKIE=j:%7B%22id%22%3A10083%2C%22role%22%3A%22coach%22%2C%22fullname%22%3A%22%D9%BE%DB%8C%D9%85%D8%A7%D9%86%20%DB%8C%D8%B2%D8%AF%D8%A7%D9%86%DB%8C%22%2C%22mobile%22%3A%2209999907312%22%2C%22verify_coach%22%3Atrue%2C%22email%22%3Anull%2C%22permissions%22%3Anull%7D
MORABIHA_ACCESS_TOKEN=your_access_token_here
API_PAGE_LIMIT=50
